<div class="row bootstrap snippets center" style="padding-top:7%;display: inline-block;">
        <div>
            <div class="comment-wrapper">
                <div class="panel panel-info">
                    <div class="panel-heading">
                    <p id="inConvoIndicator"></p>
                    <p id="typingContainer"><span id="typingNotification"></span> </p>
                        <hr>
                    </div>
                    <div class="panel-body">
                    <form action="/sendMessage/<%= conversation._id %>" method="POST" class="conversationForm">
                        <textarea class="form-control messageForm" placeholder="Type a message... %>" rows="3" name="messageText"></textarea>
                        <br>
                        <button id = "messageSubmit">Submit</button>
                        <div class="clearfix">
                    </form>
                        

                        <ul class="media-list conversationList">

                        <% conversation.messages.forEach((message) => { %>
                        
                            <li class="media commentContainer">
                                <a href="/users/<%=message.author._id%>" class="pull-left">
                                    <img src="<%= message.author.avatar %>" alt="" class="img-circle"/> 
                                </a>
                                <div class="media-body">
                                    <p>
                                        <%= message.messageText %> 
                                    </p>
                                </div>
                            </li>
                        
                        <% }); %>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
 <% include chatInclude %>
