<% include partials/sourceHeader %>
<%

	var friend = conversation.users.find(user => !user._id.equals(currentUser._id));

%>

<h1>Talk to <%= friend.username %>! </h1> 

<% include partials/conversation %>

<% include partials/sourceFooter %>