<% include partials/sourceHeader %>
<%

	var friend = conversation.users.findIndex(user => !user._id.equals(currentUser._id));

%>

<h1>Talk to <%= conversation.users[friend].username %>! </h1> 

<% include partials/conversation %>

<% include partials/sourceFooter %>